/vendor
/node_modules

.env
.env.backup
.env.local
.env.*.local

.idea/
.vscode/
.DS_Store
*.swp

phpunit.xml
.phpunit.result.cache
/tests/Coverage

/storage/cache/*
!/storage/cache/.gitkeep

/storage/logs/*
!/storage/logs/.gitkeep

/storage/sessions/*
!/storage/sessions/.gitkeep

/storage/views/*
!/storage/views/.gitkeep

.htaccess
!web/.htaccess
npm-debug.log
yarn-error.log

composer.lock