# Disable directory listing
Options -Indexes

# Enable URL rewriting
RewriteEngine On

# Redirect all requests to index.php for handling
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule ^(.+)\.(\d+)\.(js|css|png|jpg|gif)$ $1.$3 [L]
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

# <Files .htaccess>
    # Order Allow,Deny
    # Deny from all
# </Files>